DB_URL=jdbc:mysql://YOUR_SEOUL_RDS_ENDPOINT:3306/routia?serverTimezone=Asia/Seoul
DB_USERNAME=admin
DB_PASSWORD=
JPA_DDL_AUTO=none

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true

JWT_SECRET=
JWT_ACCESS_EXPIRATION=3600
